      .marquee {
      position: relative;
	overflow: hidden;
	width: 100vw;
      --offset: 20vw;
      --move-initial: calc(-25% + var(--offset));
      --move-final: calc(-50% + var(--offset));
      }

      .marquee__inner {
      width: fit-content;
      display: flex;
      position: relative;
      transform: translate3d(var(--move-initial), 0, 0);
      animation: marquee 5s linear infinite;
      animation-play-state: running;
      }

      .marquee span {
      font-size: 3rem;
      padding: 0 2rem;
      
      }
      .top {
      position: absolute;
      <!-- top: 0px; -->
      left: 0px;
      border: 0;
      }

      .snake {
      position: absolute;
      right: 0px;
      border:0;
	/* background: white */;

      }
      .bottom {
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border: 0;
      transform: rotate(180deg);
      }
      .left {
      position: fixed;
      top: 0px;
      left: 0px;
      bottom: 0px; 
      border: 0;
      transform: rotate(90deg);
      padding-right: 0px;
      }
      .right {
      position: fixed;
      top: 0px;
      right: 0px;
      top: 0px; 
      border: 0;
      transform: rotate(270deg);
      padding-right: 0px;
      }

     /* .marquee:hover .marquee__inner {
	animation-play-state: running;
	} */

     @keyframes marquee {
       0% {
         transform: translate3d(var(--move-initial), 0, 0);
       }

       100% {
         transform: translate3d(var(--move-final), 0, 0);
       }
     }
.custom {
  cursor: url(~/images/cat.png), auto;
}
 
